# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# Python cache
/server/app/__pycache__/
/server/Lib/*
server/app/data_processing/__pycache__/
server/app/models/__pycache__/
server/app/routes/__pycache__/

server/Scripts/
server/pyvenv.cfg
server/share/
# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# cache
.cache/
